.container-xs {
    background-color: red;
 }


.col-6 {
    background-color: rgb(208, 211, 21);
 }

.col {
    background-color: rgb(49, 20, 179);
 }


.col-2 {
    background-color: rgb(65, 22, 255);
 }